{# ===== Home page that displays the hikes ===== #}

{% extends "base.html.twig" %}

{% block title %}AssocRando - Acceuil{% endblock title %}

{% block body %}

    {# Title #}
    <h1 class="display-5 text-center mt-5">AssocRando</h1>

    {# Display of hikes #}
    {% include "pages/hikes/hikesCard.html.twig" %}

{% endblock body %}